name: Deploy to EC2 via SSH

on:
  push:
    branches:
      - main
jobs:
  build:
   name: Build
   runs-on: ubuntu-latest
   steps:
    - name: Checkout the code 
      uses: actions/checkout@v2
    - name: Print short part of SSH key (for debug only)
      run: echo "${{ secrets.KEY }}" | head -n 2
    