name: Deploy to EC2 via SSH

on:
  push:
    branches:
      - main
jobs:
  build:
   name: Build
   runs-on: ubuntu-latest
   steps:
    - name: Checkout the code 
      uses: actions/checkout@v2
    - name: executing remote ssh commands using ssh key
      uses: appleboy/ssh-action@v1.2.0
      with:
        host: ${{ secrets.HOST }}
        username: ${{ secrets.USERNAME }}
        key: ${{ secrets.KEY }}
        port: ${{ secrets.PORT }}
        script: whoami